.container {
}

.hoursContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  list-style: none;
  flex-direction: column;
  padding: 0;
  width: fit-content;
}

.select_lesson_length_container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.select_box{
  width: -webkit-fill-available;
  margin: 0 20px;
}
