.App-header {
  background-image: url("./images/bg-image.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 75vw;
  min-width: 400px;
  height: fit-content;
  min-height: 540px;
  border-radius: 5px;
  background-color: white;
  font-size: small;
  color: black;
}

.logo {
  height: 50px;
  width: 160px;
  margin: 20px 0px 10px 80px;
}
