.column {
    padding-left: 5%;
    padding-right: 10%;
    width: 30%;
    font-size: medium;
}

.edit {
    text-decoration: underline;
    color: rgba(78, 98, 165);
     margin-left: 200px;
}

.textbox {
    border-radius: 10px;
    border-width: 0;
    background-color: rgba(78, 98, 165, 0.274);
    word-break: break-word;
    height: 50px;
}

.button {
    margin-top: 8px;
    background-color: rgb(78, 99, 165);
    color: white;
    padding: 8.5px 15px 8.5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-width: 0px;
}

.dropDown {
    width: 70%;
    margin-left: 20px;
}

.smallDropDown {
    width: 40%;
    margin-left: 10px;
}

textarea {
    resize: none;
    height: 300px;
    width: 300px;
  }

  .card {
    border: 1px solid;
    padding-bottom: 15px;
    width: 95vw;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.295);
    color: black;
  }

  .whatsapp {
    color: #25d366;
  }
  
  .link {
    color: rgb(0, 0, 0);
  }