.column {
    padding-left: 5%;
    padding-right: 10%;
    width: 60%;
    font-size: medium;
}

.flex {
    display: flex;
}

.edit {
    color: blueviolet;
    cursor: pointer;
    text-decoration: underline;
}

.textbox {
    border-radius: 10px;
    border-width: 0;
}

.button {
    margin-top: 8px;
    background-color: rgb(78, 99, 165);
    color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    border-width: 0px;
}