.event {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  border: 1px solid #ebecee;
  padding: 0px 5px;
  border-left: 5px solid var(--theme-bg);
  height: 100%;
}

.title {
  font-size: 12px;
  background: var(--theme-bg);
  padding: 2px 5px;
  font-weight: 600;
  line-height: 1.4;
  border-radius: 2px;
  margin: 5px 0 0 0;
  color: var(--theme-color);
}

.text {
  font-size: 12px;
  color: #333;
  font-weight: 500;
  margin: 2px 0 0 0 ;
}

.color_1 {
  --theme-color: hsl(40, 50%, 30%);
  --theme-bg: #ffd800;
}

.color_2 {
  --theme-color: hsl(180, 50%, 30%);
  --theme-bg: #00facd;
}

.color_3 {
  --theme-color: hsl(200, 50%, 30%);
  --theme-bg: #52f0fa;
}

.color_4 {
  --theme-color: hsl(235, 75%, 90%);
  --theme-bg: #473bbe;
}

.color_5 {
  --theme-color: #2d4710;
  --theme-bg: #86f250;
}

.color_6 {
  --theme-color: var(--thead-bg);
  --theme-bg: #bbbcbc;
}

.blocked {
    --theme-color: #fff;
    --theme-bg: #ff353c;
}

.actions {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    background: #b7b7b76e;
    top: 0;
    left: 0;
    opacity: 0;
}

.actions:hover {
    opacity: 1;
}

.actions > div {
    color: #ffffff;
    padding: 15px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    margin: 0 5px;
}

.delete {
    background:#ff7a7a;
}

.delete:hover {
    color: #ff7a7a;
    background: #fff;
}

.info {
    background: #3699ff;
}

.info:hover {
    color: #3699ff;
    background: #fff;
}

.edit {
    background: #b2ff36;
}

.edit:hover {
    color: #b2ff36;
    background: #fff;

}
