.form {
  color: black;
  width: 70vw;
}

.input {
  background-color: rgb(232, 240, 254);
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 100%;
  height: 6vh;
}

select {
  margin-bottom: 2em;
  width: 33vw;
  height: 6vh;
  border-radius: 5px;
  background-color: rgb(232, 240, 254);
  font-weight: bold;
}

.submit {
  background-color: rgb(78, 99, 165);
  color: white;
  height: 8vh;
  cursor: pointer;
  width: 71vw;
}

.submit:hover {
  opacity: 50%;
}

.back {
  color: blueviolet;
  font-size: medium;
  cursor: pointer;
  text-decoration: underline;
}