.form {
    color: black;
    width: 80%;
}

.input {
    background-color: whites;
    border: 0px;
    border-radius: 5px;
    margin: 8px 0px;
    width: 100%;
    padding-left: 30px;
    height: 60px;
    font-size: medium;
}

.inLine {
    display: flex;
    justify-content: center;
}

.span {
    color: blueviolet;
    cursor: pointer;
    text-decoration: underline;
}

.incorrect {
    font-size: medium;
    font-weight: bold;
    color: red;
    padding: 10px;
}

.submit {
    background-color: rgb(78, 99, 165);
    color: white;
    height: 60px;
    cursor: pointer;
    width: 104%;
}

.submit:hover {
    opacity: 50%;
}