.hour_block{
    height: 75px;
    width: -webkit-fill-available;
    border-bottom: 1px solid #6b6b6b3d;
    color: #00000090;
    padding: 5px;
}


.entry {
    border: 1px solid #ebebeb;
    border-top: 0;
    background: var(--body-bg);
    height: 9em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.entry:not(:last-of-type) {
    border-bottom-style: dashed;
}


.double {
    height: 18em;
}

.treble {
    height: 27em;
}