.navBar {
    background-color: rgb(78, 99, 165);
}

.button {
    width: 100%;
    color: white;
    text-align: center;
    padding: 1.5%;
    cursor: pointer;
}

.button:hover {
    opacity: 50%;
}

.logo {
    height: 50px;
    width: 180px;
    margin: 20px 0px 10px 80px;
  }

  .width {
    width: 100%;
  }