.headers {
    top:50px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.04);
}

.headers:first-child{
    top:0;
}

.heading {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: solid var(--bd-color);
    border-width: 1px;
    color: hsla(210, 5%, 40%, 1);
    z-index: 1;
    background: var(--thead-bg);
    font-weight: 700;
}
